@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
/*
0 - 600px: Phone
600 - 900px: Tablet potrait
900 - 1200px: Tablet landscape
[1200 - 1800]: Initial style applies
1800px + : Large desktop monitor
*/
/*
$breakpoint arguement choices:
- phone 
- tab-port
- tab-land
- big-desktop
*/
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in; }

.fade-in.appear {
  opacity: 1; }

:root {
  --color-pink: #fcd9dc;
  --color-brown:#595719;
  --color-blue: #08B6A9; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 110%; } }

body {
  background-color: var(--color-pink); }

body {
  font-family: 'Josefin Slab', serif;
  font-weight: 400; }

.heading-primary {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 10rem;
  color: #fff; }
  @media only screen and (max-width: 51.25em) {
    .heading-primary {
      font-size: 6rem; } }

.heading-secondary {
  font-size: 3rem;
  color: #fff;
  font-weight: 700; }
  @media only screen and (max-width: 51.25em) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-main {
  font-size: 7rem;
  font-family: 'Amatic SC', cursive;
  font-weight: 700; }
  .heading-main--blue {
    color: var(--color-blue); }
  .heading-main--white {
    color: #fff; }
  .heading-main--brown {
    color: var(--color-brown);
    margin-top: 10rem; }
    @media only screen and (max-width: 51.25em) {
      .heading-main--brown {
        margin-top: 6rem; } }

.heading-main-secondary {
  font-size: 3.5rem;
  font-family: 'Josefin Slab', serif;
  font-weight: 700; }
  .heading-main-secondary--blue {
    color: var(--color-blue); }
  .heading-main-secondary--white {
    color: #fff; }
  .heading-main-secondary--brown {
    color: var(--color-brown); }

.paragraph {
  font-size: 2.8rem;
  text-align: center;
  font-weight: 300;
  line-height: 5vh; }
  .paragraph--bold {
    font-weight: 700;
    font-size: 3rem; }
  .paragraph--white {
    color: white; }
  .paragraph--blue {
    color: var(--color-blue); }
  .paragraph--brown {
    color: var(--color-brown); }

.margin-bottom-x-small {
  margin-bottom: 1rem; }

.margin-bottom-small {
  margin-bottom: 3.2rem; }

.margin-bottom-med {
  margin-bottom: 5rem; }

.margin-top-x-small {
  margin-top: 1rem; }

.margin-top-small {
  margin-top: 2rem; }

.margin-top-lg {
  margin-top: 10rem; }

.btn, .btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  width: 17rem;
  padding: 1.5rem 2.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border-radius: 10rem;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: all .4s; }

.btn:hover {
  background-color: var(--color-brown);
  transform: translateY(-0.1rem); }
  .btn:hover::after {
    transform: scaleX(1) scaleY(1.2);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none; }

.btn--blue {
  background-color: var(--color-blue);
  color: #fff; }
  .btn--blue::after {
    background-color: var(--color-blue); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.header {
  display: flex;
  justify-content: center;
  height: 100vh; }
  .header__header-slideshow {
    position: relative;
    height: 100vh;
    background-color: transparent; }
  .header__slideshow-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out; }
  .header__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem; }

.navigation {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  background-color: var(--color-pink); }
  .navigation__checkbox {
    display: flex;
    align-self: flex-end;
    display: none; }
  .navigation__button {
    display: flex;
    align-self: flex-end;
    position: fixed;
    top: 1.2rem;
    margin-right: 2rem;
    height: 3rem;
    width: 3rem;
    text-align: center;
    cursor: pointer;
    z-index: 3000; }
  .navigation__nav {
    height: 0vh;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-pink);
    transition: all 1s ease-out; }
  .navigation__item {
    margin: 1rem; }
  .navigation__list {
    display: flex;
    height: 0vh;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all .8s ease-out; }
  .navigation__link:link, .navigation__link:visited {
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-blue); }
  .navigation__link:hover, .navigation__link:active {
    color: var(--color-brown); }
  .navigation__checkbox:checked ~ .navigation__nav {
    height: 100vh; }
  .navigation__checkbox:checked ~ .navigation__nav .navigation__list {
    visibility: visible;
    opacity: 1; }
  .navigation__icon {
    position: relative;
    margin-top: 1.2rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: .2rem;
      background-color: var(--color-blue);
      display: flex;
      z-index: 3000;
      transition: all .2s; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.parallax-transition {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex; }
  .parallax-transition--donuts {
    background-image: url("./../img/donuts.jpg"); }
  .parallax-transition--fried {
    background-image: url("./../img/fried.jpg"); }
  .parallax-transition--catering-burger {
    background-image: url("./../img/catering-burger.jpg"); }

.top-bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: var(--color-pink);
  width: 100%;
  height: 5rem;
  z-index: 2000; }
  .top-bar__info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 38rem;
    font-size: 1.5rem;
    padding: 0 2rem;
    margin-left: 1rem;
    color: var(--color-blue); }
  .top-bar__icon-box {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    width: 10rem;
    margin-right: 6rem; }
  .top-bar__icon {
    fill: var(--color-blue);
    width: 2rem; }

.section-welcome {
  background-color: #fff;
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.section-about {
  display: flex;
  height: 75vh; }
  @media only screen and (max-width: 51.25em) {
    .section-about {
      flex-direction: column;
      height: 120vh; } }
  .section-about__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    width: 50%;
    background-color: var(--color-blue); }
    @media only screen and (max-width: 51.25em) {
      .section-about__text-box {
        width: 100%; } }
  .section-about__image {
    width: 50%;
    height: 100%;
    background-image: url("./../img/sandwich-about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 51.25em) {
      .section-about__image {
        width: 100%; } }

.section-menu {
  text-align: center;
  display: flex;
  flex-direction: column; }
  .section-menu__container {
    display: flex;
    justify-content: space-around; }
  .section-menu__starters {
    display: flex;
    flex-direction: column;
    width: 40vw; }
  .section-menu__mains {
    display: flex;
    flex-direction: column;
    width: 40vw; }
  .section-menu__list {
    list-style: none; }
  .section-menu__item {
    line-height: 4vh; }
  .section-menu__title {
    font-size: 2.8rem;
    color: var(--color-blue);
    font-weight: 600; }
  .section-menu__description {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--color-brown); }
    .section-menu__description--dessert {
      font-size: 1.5rem; }
  .section-menu__price {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-brown);
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .section-menu__choice-box {
    display: flex;
    justify-content: space-around; }
  .section-menu__dessert-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }

.section-pick-up-info {
  width: 100vw;
  height: 15vh;
  background-color: var(--color-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section-pick-up-info__link, .section-pick-up-info:link, .section-pick-up-info:visited {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 400;
    margin-top: 1rem; }

.section-hours-location {
  height: 100vh;
  display: flex; }
  @media only screen and (max-width: 51.25em) {
    .section-hours-location {
      height: 140vh;
      flex-direction: column-reverse; } }
  .section-hours-location__gmap {
    display: flex;
    width: 50%;
    height: 100%; }
    @media only screen and (max-width: 51.25em) {
      .section-hours-location__gmap {
        width: 100%;
        height: 70%; } }
  .section-hours-location__text-box {
    width: 50%;
    height: 100%;
    background-color: var(--color-pink);
    text-align: center; }
    @media only screen and (max-width: 51.25em) {
      .section-hours-location__text-box {
        width: 100%;
        height: 90%; } }
  .section-hours-location__hours {
    font-weight: 500;
    display: flex;
    flex-direction: column; }
  .section-hours-location__link, .section-hours-location:link, .section-hours-location:visited {
    display: flex;
    flex-direction: column;
    color: var(--color-blue);
    font-size: 2.2rem;
    text-decoration: none;
    font-weight: 400; }

.section-catering {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .section-catering__text-box {
    text-align: center; }
  .section-catering__link, .section-catering:link, .section-catering:visited {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    margin-top: 1rem; }
