.parallax-transition {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;

    &--donuts {
        background-image: url("./../img/donuts.jpg");
    }

    &--fried {
        background-image: url("./../img/fried.jpg");
    }

    &--catering-burger {
        background-image: url("./../img/catering-burger.jpg");
    }
}