.top-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: var(--color-pink);
    width: 100%;
    height: 5rem;
    // z-index: 1000;

    
    &__info-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        font-size: 1.2vw;
        padding: 0 2rem;
        margin-left: 1rem;
        color: var(--color-blue);
    }

    &__icon-box {
        display: flex;
        padding: 0 2rem;
        justify-content: space-between;
        width: 12%;
        margin-right: 3rem;
    }

    &__icon {
        fill: var(--color-blue);
        width: 1.8vw;
    }
}