body {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
}

.heading-primary {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 10rem;
    color: #fff;

    @include respond(tab-port) {
        font-size: 6rem;
    }
}

.heading-secondary {
    font-size: 3rem;
    color: #fff;
    font-weight: 700;

    @include respond(tab-port) {
        font-size: 2rem;
    }
}

.heading-main {
    font-size: 7rem;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;

    &--blue {
        color: var(--color-blue);
    }

    &--white {
        color: #fff;
    }

    &--brown {
        color: var(--color-brown);
        margin-top: 10rem;
        
        @include respond(tab-port) {
            margin-top: 6rem;
        }
    }
}

.heading-main-secondary {
    font-size: 4rem;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;

    &--blue {
        color: var(--color-blue);
    }

    &--white {
        color: #fff;
    }

    &--brown {
        color: var(--color-brown);
        
    }
}



.paragraph {
    font-size: 2.8rem;
    text-align: center;
    font-weight: 300;
    line-height: 5vh;

    &--bold {
        font-weight: 700;
        font-size: 3rem;
    }

    &--white {
        color: white;
    }

    &--blue {
        color: var(--color-blue);
    }

    &--brown {
        color: var(--color-brown);
    }
}
