.margin-bottom-x-small {
    margin-bottom: 1rem;
}

.margin-bottom-small {
    margin-bottom: 3.2rem;
}





.margin-top-small {
    margin-top: 2rem;
}

.margin-top-x-small {
    margin-top: 1rem;
}