.margin-bottom-x-small {
    margin-bottom: 1rem;
}

.margin-bottom-small {
    margin-bottom: 3.2rem;
}

.margin-bottom-med {
    margin-bottom: 5rem;
}



.margin-top-x-small {
    margin-top: 1rem;
}


.margin-top-small {
    margin-top: 2rem;
}

.margin-top-lg {
    margin-top: 10rem;
}

