.section-welcome {
    background-color: #fff;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-about {
    display: flex;
    height: 75vh;

    &__text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10%;
        width: 50%;
        background-color: var(--color-blue);
    }

    &__image {
        width: 50%;
        background-image: url("../../img/sandwich-about.jpg");
        background-position: center;
    }
}

.section-menu {
    text-align: center;
    display: flex;
    flex-direction: column;

    &__container {
        display: flex;
        justify-content: space-around;
    }
    
    &__starters {
       
    }

    &__mains {
 
    }

    &__list {

    }

    &__item {

    }

    &__title {

    }

    &__description {

    }

    &__price {

    }
}