.section-welcome {
    background-color: #fff;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-about {
    display: flex;
    height: 75vh;

    @include respond(tab-port) {
        flex-direction: column;
        height: 120vh;
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10%;
        width: 50%;
        background-color: var(--color-blue);

        @include respond(tab-port) {
            width: 100%;
        }
    }

    &__image {
        width: 50%;
        height: 100%;
        background-image: url("./../img/sandwich-about.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        @include respond(tab-port) {
            width: 100%;
        }
    }
}

.section-menu {
    text-align: center;
    display: flex;
    flex-direction: column;

    &__container {
        display: flex;
        justify-content: space-around;

        @include respond(tab-port-small) {
            flex-direction: column;
            justify-content: center;
        }
    }
    
    &__starters {
       display: flex;
       flex-direction: column;
       width: 40vw;

        @include respond(tab-port-small) {
            width: 100vw;
        }
    }

    &__mains {
       display: flex;
       flex-direction: column;
       width: 40vw;

        @include respond(tab-port-small) {
            width: 100vw;
            margin-top: 3rem;
        }
    }


    &__list {
        list-style: none;
    }

    &__item {
        line-height: 4vh;
    }

    &__title {
        font-size: 2.8rem;
        color: var(--color-blue);
        font-weight: 600;
    }

    &__description {
        font-size: 2.2rem;
        font-weight: 400;
        color: var(--color-brown);

        &--dessert {
            font-size: 1.5rem;
        }

        @include respond(tab-port-small) {
            padding: 2rem;
        }
    }

    &__price {
        font-size: 1.8rem;
        font-weight: 400;
        color: var(--color-brown);
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    &__choice-box {
        display: flex;
        justify-content: space-around;
    }

    &__dessert-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.section-pick-up-info {
    width: 100vw;
    height: 15vh;
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__link,
        &:link,
        &:visited {
            color: #fff;
            font-size: 2rem;
            text-decoration: none;
            font-weight: 400;
            margin-top: 1rem;

    }
}

.section-hours-location {
    height: 100vh;
    display: flex;

    @include respond(tab-port) {
       height: 140vh;
       flex-direction: column-reverse;
    }
    

    &__gmap {
        display: flex;
        width: 50%;
        height: 100%;

        @include respond(tab-port) {
            width: 100%;
            height: 70%;
        }
    }

    &__text-box {
        width: 50%;
        height: 100%;
        background-color: var(--color-pink);
        text-align: center;

        @include respond(tab-port) {
            width: 100%;
            height: 90%;
        }
    }

    &__hours {
        font-weight: 500;
        display: flex;
        flex-direction: column;
    }

    &__link,
        &:link,
        &:visited {
            display: flex;
            flex-direction: column;
            color: var(--color-blue);
            font-size: 2.2rem;
            text-decoration: none;
            font-weight: 400;

    }

}

.section-catering {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__text-box {
      text-align: center;
    }

    &__link,
        &:link,
        &:visited {
            color: #fff;
            font-size: 2rem;
            text-decoration: none;
            font-weight: 700;
            margin-top: 1rem;

}

}
